.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

a {
  color: #292a2a;
  text-decoration: none;
  box-shadow: inset 0 -2px 0 0 #347ab8;
  padding: 5px;
  cursor: pointer;
}

a:hover {
  background: #347ab8;
  color: #fff;
}

/* IMAGE THUMBNAILS */

.competition-image-thumbnail {
  max-height: 93px;
  max-width: 70px;
}

.standings-image-thumbnail {
  max-height: 45px;
  max-width: 35px;
  margin: 10px 20px;
}

.matches-image-thumbnail {
  max-width: 25px;
  margin-right: 10px;
}

.competitions-title {
  font-family: 'Montserrat', sans-serif;
  text-align: left;
  font-size: 1.5rem;
  line-height: 1.2;
  padding: 25px;
  padding-top: 0;
  padding-left: 21.2px;
}

.navigation {
  margin-top: 20px;
  margin-left: 20px;
}

.competitions {
  position: relative;
	top: -51.5px;
	background: white;
	color: #212529;
	width: 100%;
  max-width: 700px;
  margin-left: auto;
  margin-right: auto;
  text-align: left;
  border-radius: 3px;
  border: 1px solid #d3d3d3;
  padding-bottom: 30px;
}

.faint-text {
  color: #6c757d;
}

.standings-header.standings-row {
  font-weight: 600;
}

.standings-row {
  display: flex;
  justify-content: space-between;
  margin-right: 20px;
  margin-left: 20px;
  padding-top: 5px;
  padding-bottom: 5px;
  border-bottom: 0.5px solid #dedede;
}
.standings-item-team,
.standings-item-details {
  color: #000
}

.standings-item-team {
  display: flex;
}

.standings-header-details,
.standings-item-details {
  display: flex;
  justify-content: space-around;
}

.standings-header-details p,
.standings-item-details p {
    margin-right: 20px;
    width: 20px;
}

.standings-header-details p:last-child,
.standings-item-details p:last-child {
  margin-right: 0;
}

.matches-header {
  margin-bottom: 0.5rem;
  margin-left: 20px;
  font-size: 1.5rem;
  font-weight: 500;
  line-height: 1.2;
  font-family: 'Montserrat', sans-serif;
  color: #212529;
}

.matches-item {
  display: flex;
  justify-content: space-between;
  border-bottom: 0.5px solid #dedede;
  cursor: pointer;
  margin-right: 20px;
  margin-left: 20px;
}

.matches-item:nth-child(odd) {
  border-right: 0.5px solid #dedede;
}

.matches-team,
.matches-team-details {
  display: flex;
}

.matches-team {
  justify-content: space-between;
  align-items: center;
  width: 80vw;
}

.matches-team-details {
  justify-content: flex-start;
}

.matches-team-name,
.matches-date,
.matches-time {
  font-size: 80%;
  font-weight: 400;
}

.matches-team-score strong {
  font-size: 18px;
  font-weight: 400;
  font-family: 'Poppins', sans-serif;
}

.matches-dates {
  margin-left: 20px;
  margin-bottom: 20px;
  text-align: center;
  padding-left: 0.5rem;
  border-left: 1px solid #dee2e6;
}

.matches-dates h6 {
  font-family: 'Montserrat', sans-serif;
  font-size: 1rem;
  font-weight: 500;
  margin-top: 0;
  margin-bottom: 0.5rem;
}